img{
    border: 5px solid #bb7315;
    width: 450px;
    height: 300px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
h1{
    text-align: center;
    color: #dee4e7;
}
h2{
    text-align: left;
    color: #bb7315;
}
body{
    background-color: #37474F;
    font-family: Impact, Haettenschweiler, 'Arial Nasrrow Bold', sans-serif; font-size: 22px;
}
p{
    color: #dee4e7;
}
ol{
    color: #dee4e7;
}

h3{
    text-align: left;
    color: #bb7315;
}
h6{

    text-align: left;
    color: #dee4e7
}

