* {
  box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid rgb(255, 0, 191);
}

html {
    background: url(loop1.gif) no-repeat center center fixed;
    }

.prof-box {
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    }

.prof-pic {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

h1 {
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;
}

p {
    font-weight: 100;
    letter-spacing: 1;
}

.line-break {
    width: 140px;
    margin: 0 auto;
    border-top: 1px solid white;
}

.social-icons {
    font-size: 30px;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    color: orange;
}

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c47815, 0 0 40px #c47815, 0 0 50px #c47815, 0 0 60px #c47815, 0 0 70px #c47815;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f39f32, 0 0 40px #f39f32, 0 0 50px #f39f32, 0 0 60px #f39f32, 0 0 70px #f39f32, 0 0 80px #f39f32;
    }
  }

  /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f39f32;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  