* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(255, 0, 191);
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
img{
    border: 5px solid #bb7315;
    width: 300px;
    height: 300px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
h1{
    text-align: center;
    color: #dee4e7;
}
h2{
    text-align: left;
    color: #bb7315;
}
body{
    background-color: #37474F;
    font-family: Impact, Haettenschweiler, 'Arial Nasrrow Bold', sans-serif; font-size: 20px;
}
p{
    color: #dee4e7;
}
ol{
    color: #dee4e7;
}

h3{
    text-align: left;
    color: #bb7315;
}
h3 a{
    color: #bb7315;
}
h6{

    text-align: left;
    color: #dee4e7
}
a{
    color: white;
    border: 8px white;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
}
header{
    background-color: grey;
}
nav{
    background-color: grey;
    width: 25%;
}
main{
    background-color: grey;
    width: 75%;
}
footer{
    background-color: grey;
    
}
figcaption{
    color: #dee4e7;
    background-color: grey;
    text-align: center; 
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f39f32;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
