* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(255, 0, 191);
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
img{
    border: 5px solid #bb7315;
    width: 450px;
    height: 300px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
h1{
    text-align: center;
    color: #dee4e7;
}
h2{
    text-align: left;
    color: #bb7315;
}
body{
    background-color: #37474F;
    font-family: Impact, Haettenschweiler, 'Arial Nasrrow Bold', sans-serif; font-size: 22px;
}
p{
    color: #dee4e7;
}
ol{
    color: #dee4e7;
}

h3{
    text-align: left;
    color: #bb7315;
}
h3 a{
    color: #bb7315;
}
h6{

    text-align: left;
    color: #dee4e7
}
a{
    color: white;
    border: 8px white;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
}
header{
    background-color: grey;
}
nav{
    background-color: grey;
    width: 25%;
}
main{
    background-color: grey;
    width: 75%;
}
footer{
    background-color: grey;
    
}
figcaption{
    color: #dee4e7;
    background-color: grey;
    text-align: center; 
}

